<div class="row mt-3 mb-2">
    <div class="col-md-10 offset-1">
        <div class="card" *ngIf="cart">
            <div class="card-body">
                <h4>Cart Items: {{cart?.items?.length}}</h4>
                <div>
                    <app-cart-item [cartItem]="item" *ngFor="let item of cart?.items"></app-cart-item>
                </div>
            </div>
            <div class="p-3">
                <div class="mt-3 d-flex justify-content-end">
                    <p class="fs-5 fw-bold">Total price: ₹{{cartService.getTotalPriceOfCart(cart.items)}}</p>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn" style="margin-right: 40px;">CLEAR CART</button>
                    <button class="btn btn-success w-50">PLACE ORDER</button>
                </div>
            </div>
        </div>
        
    </div>
</div>