<div class="card">
    <div class="card-body">
        <div class="row" *ngIf="cartItem">
            <div class="col-md-3 image-container text-center mb-2">
                <img 
                [src]="productService.getProductImageUrl(cartItem.product.productId)"
                alt="product.title"/>
            </div>
            <div class="col-md-9">
                <p class="fs-5 fw-bold">{{cartItem.product.title}}</p>
                <div class="">
                    <p class="fs-6">Price: 
                        <span 
                            class="fw-bold text-muted text-decoration-line-through"
                            >₹{{cartItem.product.price}}
                        </span>
                        <span class="fw-bold ms-1">₹{{cartItem.product.discountedPrice}}</span>
                    </p>
                    <p>Total price: <span class="fw-bold ms-1">₹{{cartItem.totalPrice}}</span></p>
                </div>
                <div class="">
                    Quantity:
                    <button class="btn btn-outline-primary mb-1 ms-2" (click)="decreaseQuantity(cartItem)" [disabled]="cartItem.quantity<=1"><i-tabler name="minus"></i-tabler></button>
                    <span class="text-center fw-bold ms-4">{{cartItem.quantity}}</span>
                    <button class="btn btn-outline-primary mb-1 ms-4" (click)="increaseQuantity(cartItem)"><i-tabler name="plus"></i-tabler></button>
                    <button class="btn btn-danger mb-1 ms-5" (click)="deleteItemFromCart(cartItem)"><i-tabler name="trash"></i-tabler></button>
                </div>
            </div>
        </div>
    </div>
</div>