<div class="row mt-2">
    <div class="col-md-10 offset-md-1">
        <div class="card">
            <div class="card-body" *ngIf="orderResponse">
                <h4>All Orders: {{orderResponse.content.length}}</h4>
                <div class="list-group mt-1">
                    <div 
                        *ngFor="let order of orderResponse.content"
                        class="list-group-item list-group-item-action border shadow-sm"
                        style="cursor:pointer"
                        (click)="openModal(order)">
                        <div class="row">
                            <div class="col">
                                <p>ORDER ID: <span class="fs-6">{{order.orderId}}</span></p>
                            </div>
                            <div class="col">
                                <p>ORDER DATE: <span class="fw-bold">{{order.orderedDate | date:"dd/mm/yyyy"}}</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>ORDER STATUS: 
                                    <span 
                                        class="fw-bold badge"
                                        [ngClass]="{
                                            'text-bg-success': order.orderStatus == 'CONFIRMED',
                                            'text-bg-danger': order.orderStatus !== 'CONFIRMED'
                                            }">
                                        {{order.orderStatus}}
                                    </span>
                                </p>
                            </div>
                            <div class="col">
                                <p>PAYMENT STATUS: 
                                    <span 
                                        class="fw-bold badge"
                                        [ngClass]="{
                                            'text-bg-success': order.paymentStatus == 'PAID',
                                            'text-bg-danger': order.paymentStatus !== 'PAID'
                                            }">
                                        {{order.paymentStatus}}
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>USERNAME: <span class="fw-bold">{{order.user.name}}</span></p>
                            </div>
                            <div class="col">
                                <p>BILLING NAME: <span class="fw-bold">{{order.billingName}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-order-view-modal></app-order-view-modal>