        <div class="card">
          <img 
            [src]="category?.coverImage" 
            class="card-img-top cover-image" 
            alt="{{ category?.title }} Image"
            >
          <div class="card-body">
            <h5 class="card-title">{{ category?.title }}</h5>
            <p class="card-text">{{ category?.description | slice : 0 : 50 }}...</p>
          </div>
          <div class="row text-center px-3">
            <button class="btn btn-secondary btn-sm">View</button>
          </div>
        </div>