<nav class="navbar navbar-expand-lg bg-dark sticky-top" data-bs-theme="dark">
    <div class="container-fluid">
      <a href="/home" [routerLink]="['/home']"><img class="img-fluid" src="assets/images/estore.jpeg"/></a>
      <a class="navbar-brand" href="/home" [routerLink]="['/home']">eStore.com</a>

      <button class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation"
        (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" [class.collapse]="collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home" [routerLink]="['/home']">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="category" [routerLink]="['/category']">Categories</a>
          </li>

          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->

          <li class="nav-item">
            <a class="nav-link" aria-disabled="true" href="/feature" [routerLink]="['/feature']">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-disabled="true" href="/about" [routerLink]="['/about']">About</a>
          </li>
        </ul>

        <ul class="navbar-nav" *ngIf="!loginData?.login">
            <li class="nav-item">
                <a class="nav-link" href="/login" [routerLink]="['/login']">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup" [routerLink]="['/signup']">SignUp</a>
            </li>
        </ul>
        <ul class="navbar-nav" *ngIf="loginData?.login">
          <li class="nav-item" *ngIf="isAdmin|async">
            <button class="nav-link" style="cursor: pointer;" routerLink="/admin">Admin Dashboard</button>
        </li>
          <li class="nav-item">
            <p class="nav-link" style="cursor: pointer;" routerLink="/profile">{{loginData?.user?.name}}</p>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="cursor: pointer;" (click)="logout()">Logout</a>
        </li>
        </ul>

      </div>
    </div>
  </nav>