<div class="container mt-3">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <app-user-view [user]="user"></app-user-view>
            <div class="row mx-1 my-2">
                <button
                    *ngIf="user"
                    class="btn btn-outline-primary" 
                    (click)="openUpdateModal(updateContent)"
                    >Update
                </button>
            </div>
        </div>
    </div>
</div>

<ng-template #updateContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" *ngIf="user">

        <div class="card">
            <div class="card-body">
              <form>
                <div class="mb-3">
                  <label for="username" class="form-label">Name</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id="username"
                    name="name"
                    [(ngModel)]="user.name" 
                    required>
                </div>
                <div class="mb-3">
                    <label for="gender" class="d-block">Gender</label>
                    <div class="form-check form-check-inline">
                        <input 
                        class="form-check-input" 
                        type="radio" 
                        name="gender"
                        [value]="'Male'"
                        id="gender1" 
                        [(ngModel)]="user.gender">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Male
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input 
                        class="form-check-input" 
                        type="radio" 
                        name="gender" 
                        id="gender2"
                        [value]="'Female'"
                        [(ngModel)]="user.gender">
                        <label class="form-check-label" for="flexRadioDefault2">
                          Female
                        </label>
                      </div>
                </div>
                <div class="mb-3">
                  <label for="about" class="form-label">About</label>
                  <textarea 
                    class="form-control" 
                    id="about"
                    name="about"
                    [(ngModel)]="user.about" 
                    rows="3">
                </textarea>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input 
                    type="password" 
                    class="form-control" 
                    id="password"
                    name="password"
                    [(ngModel)]="user.password">
                </div>
                <div class="mb-3">
                  <div class="preview-container text-center">
                    <img [src]="previewImageUrl" alt="preview profile picture" style="height: 200px; width: auto;"/>
                  </div>
                  <label for="userImage" class="form-label">Photo</label>
                  <input type="file" class="form-control" id="userImage" (change)="onFileChange($event)" accept="image/*">
                </div>
                <!-- <div class="d-grid gap-2">
                  <button type="submit" class="btn btn-primary">Update User</button>
                  <button type="button" class="btn btn-secondary" (click)="onReset()">Reset Form</button>
                </div> -->
              </form>
            </div>
          </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="updateProfile($event)">Update</button>
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">close</button>
	</div>
</ng-template>